<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
  <div class="my-auto">
    <h2 class="mb-5">Experience</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Zapata Technology</h3>
        <div class="subheading mb-3">Senior Software Engineer (Contractor)</div>
        <p>
          Executed and contributed to full-stack web development using architectural patterns such as model-view-controller (MVC), J2EE, object oriented design principles, and lightweight RESTful web services.
        </p>
        <ul>
          <li>Front-end – Angular, Typescript/Javascript, HTML5, CSS, jQuery</li>
          <li>Back-end – Java, REST, Spring Boot, JPA, Postgres, SQL, Accumulo, Docker</li>
        </ul>

        <div class="subheading mb-3">SCRUM Lead (Contractor)</div>
        <p>
          Established development processes, sprint battle rhythm, & executed meetings to optimize development team productivity using agile methodologies.
        </p>
        <ul>
          <li>Daily stand-ups, sprint planning, kickoff, backlog grooming/prioritization, & sprint retrospectives</li>
          <li>JIRA, Confluence, Bitbucket, Fisheye/Crucible, Atlassian Suite</li>
        </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2017 - September 2018</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Georgia Tech Research Institute (GTRI)</h3>
        <div class="subheading mb-3">SCRUM Lead</div>
        <p>
          Responsible for representing GTRI and interfacing with client, managing expectations, providing ramifications/consequences of engineering decisions, and guiding technical vision and direction on $7.8 million contract. Composed & delivered monthly status reports detailing financials, technical services delivered, milestones achieved, and ongoing technical risks.
        </p>
        <ul>
          <li>Streamlined implementation, enhancement, and maintenance of the entire software lifecycle through the use of JIRA & Atlassian tool suite</li>
          <li>Optimized rhythm of 3-week sprint for cross-functional team of 10 engineers resulting in increased team velocity by 30-40%, weekly builds (vice quarterly), and doubling active users</li>
        </ul>

        <div class="subheading mb-3">Research Engineer</div>
        <p>
          Responsible for development of core suite of web applications on Navy Cyber Situational Awareness (NCSA) program to acquire and analyze cyber and maritime data to provide accurate, actionable, near-real time awareness of the Navy's cyber risk and readiness posture to our Cyber and Maritime commanders.
        </p>
        <ul>
          <li>Front-end – AngularJS, Javascript, HTML5, CSS, jQuery, D3.js, Leaflet.js, Superset</li>
          <li>Back-end – Java, REST, Spring, JPA, Postgres, SQL, Accumulo/Hadoop/Zookeeper, Docker, Azkaban</li>
        </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2014 - June 2017</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Booz Allen</h3>
        <div class="subheading mb-3">Senior Consultant</div>
        <p>
          Development of full-stack web applications with an emphasis on rich UI features, browser manipulation, and cross-browser compatibility ensuring compatibility with all major browsers.
        </p>
        <ul>
          <li>Front-end – AngularJS, JSF, Adobe Flex, ExtJS, ESRI/ArcGIS</li>
          <li>Back-end – Java, REST, Spring, Hibernate, SQL, Hbase/Hadoop, SOLR, Oracle</li>
        </ul>

      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">June 2010 - July 2014</span>
      </div>
    </div>

  </div>

</section>
