<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Skills & Expertise</h2>

    <div class="subheading mb-3">Skills</div>
    <ul class="fa-ul mb-0">
      <li>Java 8</li>
      <li>Angular 4+/AngularJS</li>
      <li>Typescript/Javascript/HTML5/CSS</li>
      <li>Spring MVC/Boot</li>
      <li>Postgres/Oracle</li>
      <li>JPA/Hibernate</li>
      <li>Docker/Microservices/Containers</li>
      <li>Git/Maven/Grunt/Gulp</li>
      <li>JIRA/Confluence/Atlassian</li>
      <li>Tomcat/JBOSS</li>
      <li>Unix/Linux</li>
      <li>Google Cloud Platform (GCP)</li>
      <li>Amazon Web Services (AWS)/Gov Cloud</li>
    </ul>

    <br/>

    <div class="subheading mb-3">Expertise</div>
    <ul class="fa-ul mb-0">
      <li>Leadership Experience</li>
      <li>Agile Methodologies</li>
      <li>Software Development Lifecycle</li>
      <li>Web/Cloud Technologies</li>
      <li>Web frameworks/libraries</li>
      <li>RESTful Web Services</li>
      <li>Data Analytics</li>
      <li>Big data/NoSQL</li>
      <li>Relational Databases</li>
      <li>Geospatial/Mapping Visualizations</li>
      <li>Continuous Deployment/Delivery</li>
    </ul>
  </div>
</section>
