<div *ngFor="let section of entry.sections">
  <div class="card-box col">
    <div class="card card-full">
      <div class="content">
        <h4 class="title">{{entry.heading}}</h4>
        <p>{{entry.description}}</p>

        <div class="text-center">
          <blockquote class="imgur-embed-pub" lang="en"  id="{{section.imageUrl}}"><a href="//imgur.com/QCq3w7N">Yosemite &amp; Sequoia</a></blockquote>
        </div>

        <p>{{section.content}}</p>
      </div>
    </div> <!-- end card -->
  </div>

  <div class="card-box col">
    <div class="card card-full">
      <div class="content">
        <h4 class="title">{{entry.heading}}</h4>
        <p>{{entry.description}}</p>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item mx-auto" style="" [src]="sanitizer.bypassSecurityTrustResourceUrl(videoBaseUrl + section.videoLink)" frameborder="0" allowfullscreen></iframe>
        </div>

        <p>{{section.content}}</p>

      </div>
    </div> <!-- end card -->
  </div>
</div>
