
<div class="wrapper">
  <div class="container">

    <!-- NAV MENU -->
    <div class="page-description">
      <div class="hipster-container">
        <nav class="navbar justify-content-between" style='border-width: 0px; font-size: 2.1em; font-family: "Gurmukhi MN";'>
          <!--<a class="navbar-brand"><img src="assets/img/sky_plane.jpg" style="width: 100px;"></a>-->
          <!--<div class="nav">-->
            <h3 class="nav-item nav-link active" routerLink="" style="cursor: pointer">Home</h3>
            <h3 class="nav-item nav-link" routerLink="map" style="cursor: pointer">Map</h3>
            <h3 class="nav-item nav-link" routerLink="about" style="cursor: pointer">About</h3>
          <!--</div>-->
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        </nav>
        <!--<img src="assets/img/profile.jpg" style="width: 300px;">-->
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div> <!-- end wrapper -->
