<section class="p-3 p-lg-5 d-flex d-column" id="about" style="padding-bottom: 0.9em !important;">
  <div class="">
    <h1 class="mb-0">{{firstName}}
      <span class="text-primary">{{lastName}}</span>
    </h1>
    <h3 class="mb-2">Software <span class="text-primary">Engineer</span>, SCRUM <span class="text-primary">Lead</span></h3>
    <div class="subheading mb-3 mt-3">
      <a href="mailto:kushanpatelcmu@gmail.com">kushanpatelcmu@gmail.com</a>
    </div>
    <p class="lead mb-3"></p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/kushan-patel-42b97295/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://github.com/leftisright3" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex d-column" id="education" style="min-height: 30em;">
  <div class="my-auto">
    <h3 class="mb-5">
      <i class="fa fa-id-card-o" aria-hidden="true"></i>
       &nbsp; Clearance - <span class="text-primary">{{clearanceLevel}}</span>
    </h3>

    <div class="resume-item d-flex flex-column flex-md-row mb-5" style="padding-top: 1.3em;">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Carnegie Mellon University</h3>
        <div class="subheading mb-3">Bachelor of Science</div>
        <div>Information Systems</div>
        <p>GPA: 3.2</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">August 2004 - May 2008</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">East Brunswick High School</h3>
        <p>GPA: 3.93</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">August 2000 - May 2004</span>
      </div>
    </div>

  </div>
</section>
