<div class="masonry-container">


  <div class="card-box col-md-4 col-sm-6" *ngFor="let entry of entries">
    <div class="card" (click)="navigateToArticle(entry)">
      <div class="header" style="cursor: pointer">
        <img src="{{entry.thumbnail}}"/>
        <div class="filter"></div>
        <div class="actions">
          <button class="btn btn-round btn-fill btn-neutral btn-modern" (click)="navigateToArticle(entry)">
            Read
          </button>
        </div>
      </div>

      <div class="content" (click)="navigateToArticle(entry)">
        <h6 class="category" style="cursor: pointer">{{entry.title}}</h6>
        <h4 class="title"><a style="cursor: pointer">{{entry.heading}}</a></h4>
        <p class="description">
          {{entry.description}}
        </p>
      </div>
    </div> <!-- end card -->
  </div>

</div>
